$button-padding: 8px 20px;
$button-radius: 6px;
$button-hover-color: #f6f7f9;
$font-size-normal: 14px;
$font-color: #0d121c;

.nav {
    display: flex;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    padding: 0 32px;
    background-color: white;
    color: $font-color;
    font-size: $font-size-normal;
    line-height: 24px;
    letter-spacing: normal;
    height: 64px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    user-select: none;

    &_left {
        display: flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;

        &_logo {
            width: 58px;
            height: auto;
            background-blend-mode: color-burn;

        }

        &_button {
            color: #000000;
            padding: 8 12px;
            padding: $button-padding;
            border-radius: $button-radius;
            margin: 0 5px;
        }

        &_button:hover {
            color: black;
        }
    }

    &_right {
        display: flex;
        justify-content: space-between;
        text-align: start;
        align-items: center;
        text-decoration: none;
        cursor: pointer;

        &_button {
            padding: $button-padding;
            border-radius: $button-radius;
            margin: 0 5px;
            max-width: 70%;

            &:hover {
                background-color: $button-hover-color;
                color: #2c682c;
            }
        }

        &_icon {
            padding: 8 10px;
            border-radius: $button-radius;
            vertical-align: -11.5%;
            color: #d3d035;
            font-variation-settings: 'fill' 1'wght' 400, 'GRAD' 0, 'opsz' 48 !important;

            &:hover {
                color: #62682c;
                background-color: #f9f9f6;
            }
        }
    }
}