$font-color: #0d121c;
$font-size-normal: 14px;
$button-radius: 6px;
$button-padding: 8px 20px;
$button-hover-color: #f6f7f9;
$button-green-color: #2c682c;

.footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: $font-color;
    padding: 20px;
    text-align: start;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    line-height: 24px;
    font-size: $font-size-normal;
    letter-spacing: normal;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

    &_left {
        display: flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;

        &_button {
            color: #000000;
            padding: 8 12px;
            padding: $button-padding;
            border-radius: $button-radius;
            margin: 0 5px;

            &:hover {
                color: $button-green-color;
                background-color: $button-hover-color;
            }
        }
    }

    &_copyRight {
        display: flex;
        align-items: center;
    }
}