@font-face {
    font-family: 'OpenSans', sans-serif;
    src: url('../scss/font/OpenSans.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

* {
    box-sizing: border-box;
}

*::selection {
    background-color: #2c682c;
    color: white;
}

input:hover,
textarea:hover,
select:hover {
    box-shadow: #00410040 0px 0px 0px 1px;
}

// FIXME: The border inside after focus is not true for me
input:focus,
textarea:focus,
select:focus {
    box-shadow: #2c682c2f 0px 0px 0px 1px, #2c682c65 0px 0px 0px 4px;
    // border-color: #0046dc !important;
}