$primary-color: #f1dbdb;


@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../../public/font/Roboto.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: $primary-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}