
@font-face {
    font-family: 'OpenSans', sans-serif;
    src: url('../scss/font/OpenSans.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

*{
    box-sizing: border-box;
}